#Zadanie 1

In [9]:
import pandas as pd
import numpy as np

In [26]:
df = pd.DataFrame([['Tom',34],['Bob',56],['Anna',83],['Ruby',48],['Katie',77],['Rob',92],
              ['Maria',59],['Dave',73],['Paul',64],['Aedemar',52]],
              columns = ['Name','Points'])

In [45]:
mean = df.mean(numeric_only=True)

In [42]:
median = df.median(numeric_only=True)

In [47]:
print(mean)
print(median)

Points    63.8
dtype: float64
Points    61.5
dtype: float64

#Zadanie 2

In [51]:
df.iloc[3]

Name      Ruby
Points      48
Name: 3, dtype: object

In [87]:
df2 = df[df['Points'] > int(median)]
df2

    Name  Points
2   Anna      83
4  Katie      77
5    Rob      92
7   Dave      73
8   Paul      64

# Zadanie 3

In [112]:
df

      Name  Points
0      Tom      34
1      Bob      56
2     Anna      83
3     Ruby      48
4    Katie      77
5      Rob      92
6    Maria      59
7     Dave      73
8     Paul      64
9  Aedemar      52

In [127]:
Percent = ((df['Points'] / 150)*100).astype(int)

0    22
1    37
2    55
3    32
4    51
5    61
6    39
7    48
8    42
9    34
Name: Points, dtype: int64

In [ ]:
df.insert(2,'%',Percent)

In [132]:
df

      Name  Points   %
0      Tom      34  22
1      Bob      56  37
2     Anna      83  55
3     Ruby      48  32
4    Katie      77  51
5      Rob      92  61
6    Maria      59  39
7     Dave      73  48
8     Paul      64  42
9  Aedemar      52  34

In [142]:
anonym = df['Name'].apply(lambda x: x[0]+'...'+x[-1])
anonym

0    T...m
1    B...b
2    A...a
3    R...y
4    K...e
5    R...b
6    M...a
7    D...e
8    P...l
9    A...r
Name: Name, dtype: object

In [143]:
df['Name'] = anonym

In [144]:
df

    Name  Points   %
0  T...m      34  22
1  B...b      56  37
2  A...a      83  55
3  R...y      48  32
4  K...e      77  51
5  R...b      92  61
6  M...a      59  39
7  D...e      73  48
8  P...l      64  42
9  A...r      52  34